.navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 10px;
    a.nav-link {
      padding: 10px;
    }
}

.nav {
  background-color: #98ffbf;
  height: 80px;
  a {
    color: #ff10a1;
    font-weight: bold;
    &:hover {
      color: #000;
    }
  }
}
